body{
	margin: 0;
	width: 1024px;
	height: 600px;
	padding-top: 50px;
}



header {
	background-color: #e6e4d6;
	color: #060505;
	height: 100px;
	
  }

    /* personalizando os links */
	a {
        color: rgb(3, 3, 6); /* Cor padrão dos links */
        font-family: Arial, sans-serif; /* Fonte padrão dos links */
        font-weight: normal; /* Peso de fonte padrão (não negrito) */
        text-decoration: none; /* Remover sublinhado padrão dos links */
    }

   


  
  .logo {
	font-size: 40px;
	font-family: Arial, sans-serif;
	color: #c8c5ad;
	padding-left: 70px;
  }
  
  .barrasuperio {
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
  }
  
  .barrasuperio > * {
	margin-left: 10px;
  }

  /* unir duas divs em uma linha */

  .uniao{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	display: flex;
  }

  .uniao > div { flex:1;}









  /* Estilos para o corpo */



  main {
	background-color: #e4e0c6;
	
  }


  .image-principal {
	display: inline-block;
	position: relative;
}

.image-principal img {
	width: 500px;
	height: 500px;
	transition: filter 0.3s ease;
}

.image-principal:hover img {
	filter: brightness(50%);
}

.image-principal .message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18px;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.image-principal:hover .message {
	opacity: 1;
}








  /* Estilos para o rodapé */
  
  footer {
	background-color: #e6e4d6;
	height: 200px;
	
  }






   /* barra de pesquisa */

   #divBusca{
	background-color:#fbfbfb;
	border:solid 1px;
	border-radius:15px;
	width:300px;
	height: 40px;;
  }
  
  #txtBusca{
	float:left;
	background-color:transparent;
	padding-left:5px;
	font-style:italic;
	font-size:18px;
	border:none;
	height:32px;
	width:260px;
  }





/*butão*/

  button {
	background: hsla(0, 0%, 96%, 0);
	border: 1px solid rgba(0, 0, 0, 0.6);
	color: #000000;
	display: inline-block;
	font-size: 1.2em;
	margin: 20px;
	padding: 10px;
	width: 400px;
  }
  


  /*COLOCANDO DUAS DIVS LADO A LADO*/

  .ladoalado1 {
	float: left;
	width: 50%;
	color: initial;
	opacity: 1;
  }
  
  .ladoalado2 {
	float: right;
	width: 50%;
	color: initial;
	opacity: 1;
  }

/*edição do botão imput do login */

  input{
    color: rgb(10, 7, 7); /* Define a cor do texto do placeholder */
    font-size: 14px; /* Define o tamanho da fonte do placeholder */
    font-style: italic; /* Define o estilo da fonte do placeholder */
    padding: 5px; /* Define o espaçamento interno do placeholder */
    box-shadow: inset 0 0 0 2px rgb(10, 6, 6); /* Define a sombra interna do placeholder */
	background-color:#e4e0c6; /* Define o fundo do placeholder como transparente */
	border: none;
    background: none; /* Remove o fundo do placeholder */
}


.participante1, .participante2, .participante3, .participante4{
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
}